# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
string = "Hello"
integer = 890
float = 89
boolean = True


print("String Value:",string,
"\n"
      "Float Value:",float,
"\n"
      "Boolean Value:",boolean,
"\n"
      "Integer Value:",integer)

String Value: Hello
Float Value: 89
Boolean Value: True
Integer Value: 890

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [5]:
print(string, float, boolean, integer, sep='-')

Hello-89-True-890

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print(string,float,boolean,integer)

Hello 89 True 890

4) Can a python print function take no value to print???

yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [6]:
Freind = "Mr. Ahmed"
Age = 30
Degree = "Bachelors in Law"
Passing_Year = 2005
Firm_Name = "The Himalya Associates"
Which_City = "Karachi"
Starting_Year = 2015
Height_in_ft = 5.10
Weight_in_g = 70600
Monthly_Income_in_Pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [10]:
Current_Year = 2025
Years_passed = Current_Year - Passing_Year
print(f"{Years_passed} years has been to Mr. Ahmed after his bachelors degree.")

20 years has been to Mr. Ahmed after his bachelors degree.

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
Working_Years = Current_Year - Starting_Year
print(f"{Working_Years} years has Mr. Ahmed been working with law firm 'The Himalya Associates'.")

10 years has Mr. Ahmed been working with law firm 'The Himalya Associates'.

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [22]:
Current_Dollar_rate = 280.22
Monthly_Income_in_Dollars = Monthly_Income_in_Pkr / Current_Dollar_rate
print(f"{Monthly_Income_in_Dollars} Dollars")

713.7249304118192 Dollars

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [26]:
Current_Dollar_rate = 280.22
Monthly_Income_in_Dollars = int(Monthly_Income_in_Pkr / Current_Dollar_rate)
print(f"{Monthly_Income_in_Dollars} Dollars")

713 Dollars

In [24]:
#11) print the year of birth of Mr. Ahmed.

Year_of_Birth = Current_Year - Age
print(f"The year of birth of Mr. Ahmed is {Year_of_Birth}.")

The year of birth of Mr. Ahmed is 1995.

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

***No***