In [43]:
import numpy as np
import pandas as pd

students = pd.read_csv("BUSinT.csv")



# students.set_index("roll_no",inplace=True)

students["class"] = students["roll_no"].str.split('/').str[1]
students["Total marks"] = 100
students["obt marks"] = students["exam1"]+students["exam2"]+students["final_exam"]
students["perc"] = students["obt marks"]/students["Total marks"]*100

def grades(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    elif score >= 50:
        return "D"
    else:
        return "F"

students['grades'] = students["perc"].apply(grades)

In [44]:
students

,roll_no,name,exam1,exam2,final_exam,class,Total marks,obt marks,perc,grades
0,SMIT/DSAI/001,David Iqbal,20,16,35,DSAI,100,71,71.0,B
1,SMIT/DSAI/002,Ahmed Ahmed,13,7,40,DSAI,100,60,60.0,C
2,SMIT/DSAI/003,John Zahid,13,24,47,DSAI,100,84,84.0,A
3,SMIT/DSAI/004,David Brown,0,15,24,DSAI,100,39,39.0,F
4,SMIT/DSAI/005,Fatima Khan,20,8,6,DSAI,100,34,34.0,F
...,...,...,...,...,...,...,...,...,...,...
495,SMIT/MAW/096,Sara Zahid,8,10,45,MAW,100,63,63.0,C
496,SMIT/MAW/097,Ayesha Ali,14,3,31,MAW,100,48,48.0,F
497,SMIT/MAW/098,Michael Brown,2,20,50,MAW,100,72,72.0,B
498,SMIT/MAW/099,Sara Malik,24,6,16,MAW,100,46,46.0,F
499,SMIT/MAW/100,Noor Ali,9,11,44,MAW,100,64,64.0,C

In [46]:
students_group = students.groupby("class")

In [53]:
students_group.get_group("DM")

,roll_no,name,exam1,exam2,final_exam,class,Total marks,obt marks,perc,grades
100,SMIT/DM/001,Noor Hussain,15,8,34,DM,100,57,57.0,D
101,SMIT/DM/002,Fatima Ahmed,17,14,2,DM,100,33,33.0,F
102,SMIT/DM/003,David Johnson,16,4,41,DM,100,61,61.0,C
103,SMIT/DM/004,Michael Khan,21,18,21,DM,100,60,60.0,C
104,SMIT/DM/005,Noor Malik,22,23,33,DM,100,78,78.0,B
...,...,...,...,...,...,...,...,...,...,...
195,SMIT/DM/096,Ayesha Brown,9,17,21,DM,100,47,47.0,F
196,SMIT/DM/097,Ayesha Iqbal,10,3,11,DM,100,24,24.0,F
197,SMIT/DM/098,Ayesha Ahmed,12,17,45,DM,100,74,74.0,B
198,SMIT/DM/099,Hina Hussain,17,19,41,DM,100,77,77.0,B
199,SMIT/DM/100,Fatima Ali,22,16,34,DM,100,72,72.0,B

In [56]:
students_group.get_group("DM").groupby("grades").get_group("F")

,roll_no,name,exam1,exam2,final_exam,class,Total marks,obt marks,perc,grades
101,SMIT/DM/002,Fatima Ahmed,17,14,2,DM,100,33,33.0,F
105,SMIT/DM/006,Hina Johnson,2,17,17,DM,100,36,36.0,F
106,SMIT/DM/007,Sara Khan,4,22,21,DM,100,47,47.0,F
107,SMIT/DM/008,David Ali,2,4,9,DM,100,15,15.0,F
116,SMIT/DM/017,Ayesha Johnson,21,12,1,DM,100,34,34.0,F
119,SMIT/DM/020,Michael Ahmed,20,0,1,DM,100,21,21.0,F
121,SMIT/DM/022,Michael Ahmed,8,1,24,DM,100,33,33.0,F
123,SMIT/DM/024,Hina Hussain,24,16,5,DM,100,45,45.0,F
125,SMIT/DM/026,John Khan,13,15,4,DM,100,32,32.0,F
126,SMIT/DM/027,Michael Zahid,21,0,10,DM,100,31,31.0,F
127,SMIT/DM/028,Fatima Hussain,12,6,21,DM,100,39,39.0,F
130,SMIT/DM/031,John Iqbal,13,3,24,DM,100,40,40.0,F
135,SMIT/DM/036,David Iqbal,24,0,23,DM,100,47,47.0,F
136,SMIT/DM/037,Noor Smith,5,1,29,DM,100,35,35.0,F
139,SMIT/DM/040,Fatima Malik,20,25,2,DM,100,47,47.0,F
141,SMIT/DM/042,Noor Iqbal,20,23,3,DM,100,46,46.0,F
142,SMIT/DM/043,Sara Iqbal,5,3,6,DM,100,14,14.0,F
148,SMIT/DM/049,Ayesha Brown,15,9,13,DM,100,37,37.0,F
151,SMIT/DM/052,Ali Hussain,8,22,17,DM,100,47,47.0,F
153,SMIT/DM/054,Ali Brown,13,12,9,DM,100,34,34.0,F
154,SMIT/DM/055,Hina Brown,3,6,1,DM,100,10,10.0,F
155,SMIT/DM/056,Hina Zahid,12,24,1,DM,100,37,37.0,F
157,SMIT/DM/058,Sara Iqbal,8,23,4,DM,100,35,35.0,F
163,SMIT/DM/064,Michael Johnson,6,14,13,DM,100,33,33.0,F
165,SMIT/DM/066,John Hussain,5,15,6,DM,100,26,26.0,F
166,SMIT/DM/067,John Iqbal,6,2,31,DM,100,39,39.0,F
167,SMIT/DM/068,Ahmed Hussain,7,17,13,DM,100,37,37.0,F
168,SMIT/DM/069,John Malik,23,2,3,DM,100,28,28.0,F
169,SMIT/DM/070,Hina Iqbal,8,24,6,DM,100,38,38.0,F
170,SMIT/DM/071,Michael Brown,21,16,11,DM,100,48,48.0,F
171,SMIT/DM/072,Ali Zahid,3,19,14,DM,100,36,36.0,F
172,SMIT/DM/073,Ali Brown,5,11,18,DM,100,34,34.0,F
173,SMIT/DM/074,Fatima Ahmed,25,13,10,DM,100,48,48.0,F
174,SMIT/DM/075,Noor Malik,4,8,2,DM,100,14,14.0,F
175,SMIT/DM/076,Ahmed Johnson,15,17,10,DM,100,42,42.0,F
176,SMIT/DM/077,Hina Brown,3,12,5,DM,100,20,20.0,F
177,SMIT/DM/078,Sara Khan,0,12,13,DM,100,25,25.0,F
178,SMIT/DM/079,Hina Ahmed,11,25,11,DM,100,47,47.0,F
183,SMIT/DM/084,Hina Brown,25,13,2,DM,100,40,40.0,F
187,SMIT/DM/088,Sara Smith,6,12,7,DM,100,25,25.0,F
188,SMIT/DM/089,David Hussain,24,6,19,DM,100,49,49.0,F
189,SMIT/DM/090,Noor Zahid,4,22,15,DM,100,41,41.0,F
192,SMIT/DM/093,Hina Khan,0,21,25,DM,100,46,46.0,F
194,SMIT/DM/095,Ayesha Smith,14,21,2,DM,100,37,37.0,F
195,SMIT/DM/096,Ayesha Brown,9,17,21,DM,100,47,47.0,F
196,SMIT/DM/097,Ayesha Iqbal,10,3,11,DM,100,24,24.0,F