In [5]:
import numpy as np
import pandas as pd

In [6]:
a = [[1,2,3,4,5],[2,3,5,7,8]]

In [7]:
myarray = np.array(a)

In [8]:
df = pd.DataFrame(a)

In [75]:
df

        a  b  c  d  e
First   1  2  3  4  5
Second  2  3  5  7  8

In [10]:
df = pd.DataFrame(a,columns = ["a","b","c","d","e"])

In [76]:
df

        a  b  c  d  e
First   1  2  3  4  5
Second  2  3  5  7  8

In [13]:
df

        a  b  c  d  e
First   1  2  3  4  5
Second  2  3  5  7  8

In [14]:
print(df)

        a  b  c  d  e
First   1  2  3  4  5
Second  2  3  5  7  8

In [15]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           c:\users\dell\appdata\local\programs\python\python311\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [16]:
df = pd.DataFrame(a,columns = ["a","b","c","d","e"],index = ["First","Second"],dtype = str)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, First to Second
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
 1   b       2 non-null      object
 2   c       2 non-null      object
 3   d       2 non-null      object
 4   e       2 non-null      object
dtypes: object(5)
memory usage: 204.0+ bytes

In [12]:
df = pd.DataFrame(a,columns = ["a","b","c","d","e"],index = ["First","Second"])

In [30]:
student = [{
           "std-1":{"Name":"Muneeb","Father/Name":"Rashid","Age":16,"Gender":"Male"},
           "std-2":{"Name":"Huzaifa","Father/Name":"Kashif","Age":15,"Gender":"Male"},
           "std-3":{"Name":"Owais","Father/Name":"Atif","Age":18,"Gender":"Male"},
           "std-4":{"Name":"Basit","Father/Name":"Hanif","Age":14,"Gender":"Male"},
           "std-5":{"Name":"Omer","Father/Name":"Sikandar","Age":16,"Gender":"Male"}
}
          ]


students = pd.DataFrame(student)

students

,std-1,std-2,std-3,std-4,std-5
0,"{'Name': 'Muneeb', 'Father/Name': 'Rashid', 'A...","{'Name': 'Huzaifa', 'Father/Name': 'Kashif', '...","{'Name': 'Owais', 'Father/Name': 'Atif', 'Age'...","{'Name': 'Basit', 'Father/Name': 'Hanif', 'Age...","{'Name': 'Omer', 'Father/Name': 'Sikandar', 'A..."

In [39]:
student = [
           {"Name":"Muneeb","Father/Name":"Rashid","Age":16,"Gender":"Male"},
           {"Name":"Huzaifa","Father/Name":"Kashif","Age":15,"Gender":"Male"},
           {"Name":"Owais","Father/Name":"Atif","Age":18,"Gender":"Male"},
           {"Name":"Basit","Father/Name":"Hanif","Age":14,"Gender":"Male"},
           {"Name":"Omer","Father/Name":"Sikandar","Age":16,"Gender":"Male"}
          ]


students = pd.DataFrame(student)

students["Age"] = students["Age"].astype(float)

In [40]:
students

      Name Father/Name   Age Gender
0   Muneeb      Rashid  16.0   Male
1  Huzaifa      Kashif  15.0   Male
2    Owais        Atif  18.0   Male
3    Basit       Hanif  14.0   Male
4     Omer    Sikandar  16.0   Male

In [37]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5 non-null      object
 1   Father/Name  5 non-null      object
 2   Age          5 non-null      float64
 3   Gender       5 non-null      object
dtypes: float64(1), object(3)
memory usage: 288.0+ bytes

In [38]:

students["Age"] = students["Age"].astype(float)

In [69]:
num = np.array([[1,2,3,4,5,6],[5,6,"F",8,1,7],[8,"y",4,3,"",7],[9,"h",7,"#",5,8]])

In [71]:
num = pd.DataFrame(num,columns = ["a","b","c","d","e","f"],index = ["A","B","C","D"])
num

   a  b  c  d  e  f
A  1  2  3  4  5  6
B  5  6  F  8  1  7
C  8  y  4  3     7
D  9  h  7  #  5  8

In [72]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      object
 1   b       4 non-null      object
 2   c       4 non-null      object
 3   d       4 non-null      object
 4   e       4 non-null      object
 5   f       4 non-null      object
dtypes: object(6)
memory usage: 224.0+ bytes

In [73]:
num.c

A    3
B    F
C    4
D    7
Name: c, dtype: object

In [77]:
num

   a  b  c  d  e  f
A  1  2  3  4  5  6
B  5  6  F  8  1  7
C  8  y  4  3     7
D  9  h  7  #  5  8

In [82]:
myfile = pd.read_csv("Titanic-Dataset.csv")

In [85]:
myfile.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [87]:
myfile.describe().loc["mean"]

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
Name: mean, dtype: float64

In [80]:
num.describe()

        a  b  c  d  e  f
count   4  4  4  4  4  4
unique  4  4  4  4  3  3
top     1  2  3  4  5  7
freq    1  1  1  1  2  2

In [86]:
num.describe().loc["mean"]

KeyError: 'mean'