# Created by : Muhammad Muneeb.
# Assignmet No.: 1

### Task No: 1

In [1]:
class atm:
    def __init__(self,bk_name,acnt_hldr,crnt_amnt):
        self.bk_name = bk_name
        self.acnt_hldr = acnt_hldr
        self.crnt_amnt = crnt_amnt
    def __repr__(self):
        return f"""        Account holder bank name is: {self.bk_name}
        Account holder name is: {self.acnt_hldr}
        Current amount in account is: {self.crnt_amnt}"""
    def __add__(self,other):
        return self.crnt_amnt + other
            
    def __sub__(self,other):
        return  self.crnt_amnt - other
    def __radd__(self,other):
        return self.crnt_amnt + other
            
    def __rsub__(self,other):
        return  self.crnt_amnt - other


object1 = atm("UBL","Muneeb",5000)
object2 = atm("Soneri","Abid",5000)
object3 = atm("Soneri","Abid",5000)


print(600+object1)

5600

### Task No: 2

In [ ]:
class University:
    def __init__(self,name,age,field,uni_name,gender,fee_status):
        self.name = name
        self.age = age
        self.field = field
        self.uni_name = uni_name
        self.gender = gender
        self.fee_status = fee_status
    def __repr__(self):
        return f"""        Student name is: {self.name}
        Student age is: {self.age}
        Student field is: {self.field}
        Student gender is: {self.gender}
        Student University name is: {self.uni_name}
        Student fee status is: {self.fee_status}"""            
    def __del__(self):
        return  "object is deleted"
    def


object1 = University("Muneeb",16,"computer","Oxford","Male","Paid")

print(object1)

### Task No: 3

In [19]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def __repr__(self):
        return f"""        Perdon name is: {self.name}
        Person age is:  {self.age}"""  
class Student(Person):
    def __init__(self,roll,grade):
        self.roll = roll
        self.grade = grade
    def __repr__(self):
        return f"""        Student name is: {self.roll}
        Student age is:  {self.grade}"""  
p1 = Student("Muneeb",16)

### Task No: 4

Enter your Email:  abc6@gmail.com

abc1@gmail.com