# TASK Ecommerce

- A Complete Annual Report for every year (Total sale, Most selling category, most selling product)
- A Complete Monthly Report for every month (Total sale, Most selling category, most selling product)
- Most re-visited customers
- Most sailing category in complete years
- List of all categrpries
- Names of customers who had spented more than 200$ on our store
- No of customers below 30, 50, 80 on every category

In [128]:
import numpy as np
import pandas as pd
# import files
ord_file = pd.read_csv("orders.csv")
csmer_file = pd.read_csv("customers.csv")
prd_file = pd.read_csv("products.csv")

ord_file["order_date"] = pd.to_datetime(ord_file["order_date"])
ord22 = ord_file[ord_file["order_date"].dt.year == 2022]
ord23 = ord_file[ord_file["order_date"].dt.year == 2023]
ord24 = ord_file[ord_file["order_date"].dt.year == 2024]

In [129]:
str(ord22['product_id']).split("P")[1].strip().split('\n')[0]

'022'

In [130]:
str(prd_file['product_id']).split("P")[1].strip().split('\n')[0]

'001'

In [131]:
np.array(pd.DataFrame(ord22).product_id)

array(['P022', 'P090', 'P021', 'P076', 'P073', 'P079', 'P046', 'P088',
       'P063', 'P053', 'P009', 'P041', 'P087', 'P096', 'P073', 'P086',
       'P067', 'P056', 'P045', 'P072', 'P002', 'P061', 'P022', 'P063',
       'P043', 'P065', 'P083', 'P031', 'P057', 'P012', 'P041', 'P096',
       'P052', 'P072', 'P012', 'P080', 'P066', 'P084', 'P044', 'P007',
       'P059', 'P099', 'P061', 'P058', 'P098', 'P044', 'P082', 'P067',
       'P014', 'P022', 'P092', 'P033', 'P025', 'P051', 'P025', 'P097',
       'P082', 'P099', 'P085', 'P065', 'P064', 'P095', 'P056', 'P066',
       'P075', 'P017', 'P085', 'P042', 'P050', 'P089', 'P051', 'P038',
       'P018', 'P078', 'P090', 'P041', 'P028', 'P080', 'P045', 'P084',
       'P070', 'P015', 'P062', 'P086', 'P096', 'P055', 'P014', 'P019',
       'P008', 'P097', 'P088', 'P008', 'P097', 'P046', 'P079', 'P029',
       'P031', 'P090', 'P086', 'P010', 'P029', 'P009', 'P054', 'P052',
       'P029', 'P043', 'P038', 'P097', 'P061', 'P097', 'P086', 'P031',
       'P080', 'P006', 'P015', 'P070', 'P067', 'P066', 'P006', 'P084',
       'P066', 'P013', 'P099', 'P001', 'P086', 'P088', 'P014', 'P090',
       'P010', 'P059', 'P012', 'P023', 'P010', 'P030', 'P050', 'P052',
       'P003', 'P016', 'P083', 'P097', 'P090', 'P065', 'P088', 'P012',
       'P057', 'P085', 'P021', 'P018', 'P070', 'P082', 'P087', 'P002',
       'P072', 'P006', 'P077', 'P071', 'P027', 'P053', 'P021', 'P079',
       'P015', 'P073', 'P097', 'P083', 'P038', 'P013', 'P075', 'P043',
       'P086', 'P037', 'P025', 'P058', 'P085', 'P065', 'P031', 'P022',
       'P058', 'P073', 'P019', 'P046', 'P098', 'P009', 'P030', 'P027',
       'P047', 'P059', 'P084', 'P091', 'P036', 'P070', 'P049', 'P076',
       'P033', 'P029', 'P046', 'P062', 'P065', 'P022', 'P066', 'P020',
       'P047', 'P016', 'P043', 'P087', 'P027', 'P083', 'P032', 'P074',
       'P018', 'P074', 'P022', 'P024', 'P052', 'P073', 'P093', 'P011',
       'P078', 'P062', 'P053', 'P075', 'P085', 'P022', 'P059', 'P009',
       'P050', 'P003', 'P065', 'P020', 'P023', 'P079', 'P069', 'P016',
       'P085', 'P078', 'P001', 'P054', 'P006', 'P030', 'P099', 'P076',
       'P055', 'P062', 'P011', 'P070', 'P025', 'P096', 'P067', 'P001',
       'P027', 'P047', 'P055', 'P034', 'P073', 'P036', 'P027', 'P072',
       'P048', 'P062', 'P074', 'P091', 'P018', 'P030', 'P090', 'P028',
       'P044', 'P090', 'P050', 'P021', 'P100', 'P086', 'P076', 'P002',
       'P012', 'P093', 'P075', 'P036', 'P025', 'P052', 'P034', 'P065',
       'P010', 'P044', 'P066', 'P069', 'P089', 'P049', 'P099', 'P044',
       'P059', 'P004', 'P034', 'P082', 'P090', 'P041', 'P046', 'P002',
       'P037', 'P087', 'P071', 'P041', 'P074', 'P096', 'P095', 'P095',
       'P034', 'P026', 'P080', 'P100', 'P011', 'P001', 'P006', 'P080',
       'P074', 'P024', 'P051', 'P074', 'P068', 'P070', 'P045', 'P088',
       'P016', 'P041', 'P095', 'P002', 'P064', 'P081', 'P093', 'P063',
       'P072', 'P051', 'P021', 'P033', 'P081', 'P096', 'P047', 'P072',
       'P003', 'P045', 'P074', 'P084', 'P100', 'P042', 'P100', 'P011',
       'P037', 'P019', 'P044', 'P079', 'P010', 'P044', 'P041', 'P035',
       'P051', 'P057', 'P076', 'P058', 'P024', 'P094', 'P033', 'P022',
       'P013', 'P061', 'P004', 'P098', 'P034', 'P011', 'P030', 'P037',
       'P017', 'P022', 'P085', 'P042', 'P049', 'P011', 'P031', 'P079',
       'P084', 'P035', 'P009', 'P038', 'P059', 'P035', 'P025', 'P020',
       'P069', 'P014', 'P017', 'P002', 'P020', 'P028', 'P040', 'P060',
       'P011', 'P035', 'P070', 'P025', 'P049', 'P099', 'P099', 'P095',
       'P059', 'P086', 'P050', 'P042', 'P094', 'P071', 'P033', 'P039',
       'P007', 'P015', 'P056', 'P022', 'P016', 'P032', 'P006', 'P089',
       'P077', 'P099', 'P021', 'P088', 'P098', 'P046', 'P069', 'P063',
       'P072', 'P057', 'P089', 'P093', 'P006', 'P057', 'P070', 'P073',
       'P045', 'P060', 'P077', 'P009', 'P058', 'P034', 'P059', 'P082',
       'P094', 'P003', 'P047', 'P042', 'P069', 'P068', 'P071', 'P037',
       'P083', 'P013', 'P009', 'P039', 'P028', 'P013', 'P050', 'P068',
       'P081', 'P096', 'P096', 'P082', 'P087', 'P086', 'P014', 'P024',
       'P065', 'P021', 'P057', 'P041', 'P048', 'P082', 'P093', 'P031',
       'P028', 'P071', 'P058', 'P051', 'P005', 'P003', 'P039', 'P029',
       'P041', 'P089', 'P071', 'P074', 'P013', 'P046', 'P034', 'P075',
       'P033', 'P074', 'P028', 'P042', 'P063', 'P013', 'P039', 'P074',
       'P100', 'P099', 'P056', 'P016', 'P084', 'P002', 'P040', 'P041',
       'P020', 'P090', 'P007', 'P058', 'P065', 'P057', 'P057', 'P030',
       'P048', 'P094', 'P095', 'P080', 'P037', 'P089', 'P058', 'P043',
       'P069', 'P070', 'P034', 'P080', 'P090', 'P075', 'P033', 'P037',
       'P090', 'P007', 'P002', 'P085', 'P085', 'P014', 'P084', 'P049',
       'P013', 'P077', 'P024', 'P059', 'P092', 'P032', 'P043', 'P096',
       'P045', 'P081', 'P065', 'P008', 'P050', 'P072', 'P020', 'P051',
       'P094', 'P087', 'P081', 'P031', 'P055', 'P078', 'P070', 'P084',
       'P070', 'P018', 'P091', 'P018', 'P099', 'P073', 'P009', 'P093',
       'P041', 'P004', 'P053', 'P057', 'P100', 'P063', 'P059', 'P052',
       'P095', 'P041', 'P096', 'P069', 'P091', 'P014', 'P006', 'P069',
       'P006', 'P067', 'P038', 'P039', 'P022', 'P079', 'P067', 'P083',
       'P093', 'P024', 'P090', 'P051', 'P058', 'P059', 'P092', 'P059',
       'P042', 'P094', 'P015', 'P047', 'P091', 'P066', 'P021', 'P049',
       'P022', 'P085', 'P019', 'P092', 'P040', 'P099', 'P081', 'P017',
       'P080', 'P059', 'P064', 'P001', 'P064', 'P076', 'P053', 'P077',
       'P032', 'P080', 'P027', 'P019', 'P045', 'P027', 'P014', 'P081',
       'P062', 'P091', 'P078', 'P068', 'P046', 'P073', 'P094', 'P024',
       'P091', 'P001', 'P060', 'P027', 'P053', 'P045', 'P082', 'P082',
       'P037', 'P009', 'P065', 'P099', 'P088', 'P051', 'P004', 'P043',
       'P087', 'P061', 'P018', 'P081', 'P069', 'P053', 'P067', 'P093',
       'P069', 'P074', 'P046', 'P020', 'P004', 'P081', 'P022', 'P050',
       'P015', 'P041', 'P053', 'P031', 'P039', 'P039', 'P048', 'P026',
       'P065', 'P062', 'P025', 'P062', 'P100', 'P099', 'P067', 'P093',
       'P050', 'P055', 'P091', 'P076', 'P046', 'P026', 'P097', 'P017',
       'P090', 'P059', 'P083', 'P030', 'P079', 'P047', 'P090', 'P042',
       'P004', 'P015', 'P060', 'P099', 'P074', 'P014', 'P092', 'P072',
       'P039', 'P052', 'P031', 'P071', 'P062', 'P044', 'P089', 'P056',
       'P044', 'P031', 'P086', 'P092', 'P063', 'P077', 'P072', 'P057',
       'P052', 'P014', 'P049', 'P083', 'P028', 'P075', 'P019', 'P069',
       'P079', 'P026', 'P041', 'P087', 'P056', 'P075', 'P066', 'P017',
       'P048', 'P007', 'P072', 'P037', 'P056', 'P081', 'P049', 'P056',
       'P085', 'P018', 'P050', 'P054', 'P086', 'P002', 'P003', 'P063',
       'P018', 'P083', 'P059', 'P055', 'P059', 'P071', 'P046', 'P100',
       'P059', 'P061', 'P043', 'P038', 'P005', 'P039', 'P008', 'P022',
       'P085', 'P095', 'P037', 'P017', 'P036', 'P079', 'P033', 'P015',
       'P076', 'P058', 'P023', 'P090', 'P024', 'P005', 'P019', 'P020',
       'P053', 'P085', 'P082', 'P074', 'P083', 'P015', 'P060', 'P039',
       'P097', 'P049', 'P034', 'P056', 'P058', 'P041', 'P006', 'P069',
       'P056', 'P084', 'P035', 'P013', 'P075', 'P099', 'P087', 'P025',
       'P087', 'P071', 'P002', 'P053', 'P014', 'P029', 'P025', 'P080',
       'P077', 'P077', 'P016', 'P078'], dtype=object)

In [132]:
str(pd.DataFrame(prd_file).product_id)

'0     P001\n1     P002\n2     P003\n3     P004\n4     P005\n      ... \n95    P096\n96    P097\n97    P098\n98    P099\n99    P100\nName: product_id, Length: 100, dtype: object'

In [133]:
ord22.isin(["\n"])

     order_id  customer_id  product_id  quantity  order_date
0       False        False       False     False       False
1       False        False       False     False       False
2       False        False       False     False       False
3       False        False       False     False       False
4       False        False       False     False       False
..        ...          ...         ...       ...         ...
823     False        False       False     False       False
824     False        False       False     False       False
825     False        False       False     False       False
826     False        False       False     False       False
827     False        False       False     False       False

[828 rows x 5 columns]

In [134]:
ord_file

     order_id customer_id product_id  quantity order_date
0      O00001       C0333       P022         1 2022-01-09
1      O00002       C0068       P090         1 2022-01-27
2      O00003       C0483       P021         1 2022-01-17
3      O00004       C0214       P076         4 2022-01-07
4      O00005       C0411       P073         4 2022-01-12
...       ...         ...        ...       ...        ...
2579   O02580       C0237       P098         5 2024-12-22
2580   O02581       C0236       P007         1 2024-12-05
2581   O02582       C0029       P035         1 2024-12-12
2582   O02583       C0171       P077         1 2024-12-16
2583   O02584       C0421       P038         5 2024-12-01

[2584 rows x 5 columns]

In [135]:
import os
lis = []
for i in list(os.listdir(path = '.')):
    if i.split('.')[-1] == "ipynb":
        lis.append(i)
print(lis)
lis = [i for i in list(os.listdir(path = '.')) if i.split('.')[-1] == "ipynb"]

['Assignment7.ipynb', 'Untitled.ipynb']

In [136]:
pd.DataFrame(prd_file).iloc